*{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: block;
    text-align: center;
}

#Formulario{
    border: 1px solid #ddd;
    margin: 20px 20%;
}

#Formulario input{
    margin: 10px;
    border: #828282 1px solid;
    width: 90%;
}

.modelo {
    border: 3px solid;
    margin: 10px;
    padding: 10px;
}

.modelo-titulo {
    border: 3px solid #828282;
    border-radius: 5px;
    margin: 10px 10px 0 10px;
    padding: 0px 0px 10px 0px;
}

.Coluna {
    border: 3px solid #828282;
    border-radius: 5px;
    margin: 0 10px 10px 10px;
}

.vlLabel {
    display: flex;
    margin: 10px;
}

select, .button{
    background-color: #c5c5c5;
}
select:hover, .button:hover{
    background-color: #828282;
}

#ImportarCad{
    border: 1px solid #ddd;
    margin: 20px 20% 80px;
}

#codigoFonte{
    border: 1px solid #ddd;
    margin: 0 20% 80px;
    padding: 140px 0px;
}